
/* --------------------------------
.upcomin-container start from here----------------------------  */
.nab-main-container-flex{
    display: flex;
    margin-top: 120px;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:24px ;
    margin: 15px;
}

.upcomin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8e8e810;
    border: 1px solid #e8e8e88c;
    border-radius: 10px;
    padding: 30px;
     cursor: pointer;
}
.flag-container{
    display: flex;
   
}

.flag img{
    width: 94.04px;
    height: 57.18px;
    
}
.information{
    text-align: center;

}
.information h2{
    font-size: 19px;
}
/* 

<!-- -------------------------
       phone device start here 
    ------------------------ --> */
@media only screen and (max-width: 688px){

body{
       display: flex;
       flex-direction: column;
      align-content: center;
    }

   .nab-main-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

    nav{
        
        background-color: rgb(255, 255, 255);
}
   

.main-container{
    grid-template-columns: 1fr;
}

    
.nab-article-flex{
    flex-direction: column;
    background-color: rgb(24, 0, 0);
}

}

/* --------------------------------------------------------
-------------------for tablate devices ------------------------------ */

@media  screen and (min-width: 679px) and (max-width: 992px) 
    {  
        .main-container{
    grid-template-columns:repeat(2,1fr);
}
    .nab-main-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;

    }
        .view-btn{
   visibility: visible;}

    }

    /* <!-- -------------------------
       css end here 
    ------------------------ --> */